<div *ngIf="user; else noUser">
  <mat-toolbar>
    <span>{{user.name}}</span>
    <span class="spacer"></span>
    {{user.accumulatedGold}} accumulated gold ({{user.goldPerMinute}} / min)
  </mat-toolbar>
</div>

<ng-template #noUser>
  <div *ngIf="username; else noUsername">
    No user with the name {{username}} found.
  </div>
  <ng-template #noUsername>
    No username found.
  </ng-template>
</ng-template>

<mat-drawer-container [hidden]="!user" fxFlex="1 1 100%" autosize>
  <mat-drawer opened mode="side" position="end">
    <h1>Selection goes here</h1>
    <mat-divider></mat-divider>
    <h1>Build</h1>
  </mat-drawer>
  <mat-drawer-content>
    <app-renderer fxFlex="1 1 100%" [gameState]="gameState">
    </app-renderer>
  </mat-drawer-content>
</mat-drawer-container>
