@import '~@angular/material/theming';

@mixin leaderboard-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);

  tr.other-user-row:hover {
    background: mat-color($primary, lighter);
    color: mat-color($primary, lighter-contrast);
  }

  tr.this-user-row {
    background: mat-color($accent, lighter);
    color: mat-color($accent, lighter-contrast);
  }

  tr.this-user-row:hover {
    background: mat-color($primary, lighter);
    color: mat-color($primary, lighter-contrast);
  }

  .mat-cell {
    color: inherit;
  }
}

table {
  width: 100%;
}