<ng-container *ngIf="usersRowData$ | async as users">
  <table mat-table [dataSource]="users">
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let index = index"> {{index + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let user"> {{user.name}} </td>
    </ng-container>

    <ng-container matColumnDef="accumulatedGold">
      <th mat-header-cell *matHeaderCellDef> Accumulated Gold </th>
      <td mat-cell *matCellDef="let user">
        {{ user.accumulatedGold | goldNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="goldPerMinute">
      <th mat-header-cell *matHeaderCellDef> Gold / Min </th>
      <td mat-cell *matCellDef="let user">
        {{ user.goldPerMinute | goldNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="battleStatus">
      <th mat-header-cell *matHeaderCellDef> Battle Status </th>
      <td mat-cell *matCellDef="let user">
        {{ user.inBattle ? 'In Battle' : '' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="(row.loggedIn) ? 'this-user-row' : 'other-user-row'"
      routerLink="/battleground/{{row.name}}">
    </tr>
  </table>

  <div *ngIf="users.length === 0">No users yet.</div>
</ng-container>
