<h1>Overview</h1>
<p>
    InfiniTD is a work-in-progress incremental, multiplayer tower defense
    game. It is the work of a single, hobbyist developer and is currently far
    from a finished game.
    <b>Expect significant changes and occasional data wipes as development
    continues.</b>
</p>
<p>
    The general idea is it’s a tower defense game where you choose not only
    which towers to place where, but also which enemies will make up the
    waves. Your towers constantly face waves of enemies, even when you’re
    away meaning you’ll always have more gold when you come back. It’s
    impossible to lose, but how quickly you progress will be determined by
    how well you play. In addition to facing the waves you’ve designed you’ll
    also face the waves of players nearby on the leaderboard, making optimal
    play depend on how they’ve designed their defenses and waves (Note: This
    multiplayer aspect is coming soon).
</p>

<h1>How to Play</h1>
<p>
    Make an account by clicking on the account tab and logging in with one of
    Google, Facebook, or Github.
</p>
<p>
    Next, select the “My Battleground” tab to see your battleground. This is
    where you’ll build your towers and watch them face waves of enemies.
</p>
<p>
    To build a new tower open the build tab on the right and choose a tower
    you can afford. Next, select somewhere to place it. You can place a tower
    on any empty square that won’t separate the enemy spawn (the green
    circle) from the enemy goal (the red circle). The dirt path shows how
    enemies will travel to the goal. When you select a place for a tower to
    go you’ll see a representation of its range and firing rate. To actually
    build the tower click the build button or press ‘b’.
</p>
<p>
    To get more gold you’ll have to defeat enemies. To do this open the wave
    tab and add enemies to a wave. The more enemies you can defeat the faster
    your gold will grow. To test out the wave go to the Battle tab and select
    start battle or press the space bar.
</p>
<p>
    Once you finish a battle your gold rate will be updated based on the
    results. Every minute your gold will grow based on this gold rate.
</p>
<p>
    In the future there will be multiplayer features, but those aren’t
    available yet.
</p>

<h1><a name="data_deletion">Data Deletion</a></h1>
<p>
    All account information (but not logs) can be deleted by going to account
    tab and clicking the “Delete Account” button.
</p>

<h1>Contact</h1>
<p>
    If you have any questions or feedback about the game I can be reached as follows:
</p>
<p>Email: <a href="mailto: me@rofer.me">me@rofer.me</a></p>
<p>Discord: rofer</p>
<p>IRC: rofer on Freenode</p>
