<div *ngIf="selectedTower">
  <h1>{{selectedTower.name}}</h1>
  <div fxLayout=row>
    <div>
      <img class="selectedImg" [src]="selectedTower.url">
    </div>
    <div>
      <span class="stat">Damage:</span>
      {{selectedTower.damage}}<br />
      <span class="stat">Firing Rate:</span>
      {{selectedTower.firingRate}} <br />
      <span class="stat">Range:</span>
      {{selectedTower.range}} <br />
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
<h1>Build</h1>
<mat-selection-list id="buildList" [multiple]="false"
    (selectionChange)="selectionChange($event)">
  <mat-list-option *ngFor="let tower of gameConfig.towers | keyvalue"
  [value]="tower.key">
    <img matListAvatar [src]="tower.value.url">
    <span >{{tower.value.name}}</span>
    <span style="font-weight: lighter">Cost: {{tower.value.cost}}</span>
  </mat-list-option>
</mat-selection-list>
