<div *ngIf="displayedTower">
  <h1>{{displayedTower.name}}</h1>
  <div fxLayout=row>
    <div>
      <img class="selectedImg" [src]="displayedTower.url">
    </div>
    <div>
      <span class="stat">Damage:</span>
      {{displayedTower.damage}}<br />
      <span class="stat">Firing Rate:</span>
      {{displayedTower.firingRate}} <br />
      <span class="stat">Range:</span>
      {{displayedTower.range}} <br />
    </div>
  </div>
  <div *ngIf="backend.getLoggedInUser() | async as lUser">
    <button *ngIf="lUser.user && lUser.user.name === user?.name && selection.tower && selection.grid"
      (click)="build(lUser, selection.tower, selection.grid)" mat-stroked-button>
      Build ({{selection.tower.cost}} gold)
    </button>
  </div>
  <mat-divider></mat-divider>
</div>
<div *ngIf="backend.getLoggedInUser() | async as lUser">
  <div *ngIf="lUser.user && lUser.user.name === user?.name">
    <h1>Towers</h1>
    <mat-selection-list id="buildList" [multiple]="false"
        (selectionChange)="selectionChange($event)">
      <mat-list-option *ngFor="let tower of gameConfig.towers | keyvalue"
      [value]="tower.key">
        <img matListAvatar [src]="tower.value.url">
        <span >{{tower.value.name}}</span>
        <span style="font-weight: lighter">Cost: {{tower.value.cost}}</span>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
