/* TODO: Make this more responsive */
.selectedImg {
  height: 40px;
  width: 40px;
  padding: 5px;
  margin-right: 5px;
  border-style: solid;
  border-width: thin;
}

.stat {
  font-weight: bold;
}

.monster-list-item-dragable {
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);

  height: 56px;
  width: 100%;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.monster-list.cdk-drop-list-dragging .monster-list-item-dragable:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}