<div *ngIf="errorMsg">
  Error: {{errorMsg}}
</div>
<div class="outerContainer" *ngIf="user$ | async as user">
  <ng-container *ngIf="battleState$ | async as battleState">
    <mat-toolbar>
      <span>{{user.name}}</span>
      <span class="spacer"></span>
      {{ battleState.name }}
      <span *ngIf="battleState.live">
        &nbsp;(LIVE)
      </span>
      <span class="spacer"></span>
      {{ user.gold | goldNumber }} gold
      (<span
        matTooltip="Gold per minute from your wave">
        {{ user.goldPerMinuteSelf | goldNumber }}
      </span>
      &nbsp;+&nbsp;
      <span
        matTooltip="Gold per minute from your rivals' waves">
        {{ user.goldPerMinuteOthers | goldNumber }}
      </span>&nbsp;/ min)
    </mat-toolbar>
    <ng-container *ngIf="gameConfig$ | async as gameConfig">
      <mat-drawer-container *ngIf="battlegroundState$ | async as bgState" fxFlex="1 1 100%" autosize>
        <mat-drawer opened mode="side" position="end" fxFlex="1 1 100%" disableClose>
          <app-game-drawer [user]="user" [gameConfig]="gameConfig" [towersState]="bgState.towers"
            [battlegroundSelection]="(selection.getBattleground() | async) || undefined"
            [displayedTower]="(selection.getDisplayedTower() | async) || undefined"
            [buildTower]="(selection.getBuildTower() | async) || undefined"
            [displayedMonster]="(selection.getDisplayedMonster() | async) || undefined"
            [battleState]="battleState">
          </app-game-drawer>
        </mat-drawer>
        <mat-drawer-content fxFlex="1 1 100%" [ngStyle]="{'height': 'auto'}">
          <app-renderer *ngIf="bgState"
            [gameConfig]="gameConfig" [state]="bgState" [battleState]="battleState"
            fxFlex="1 1 100%">
          </app-renderer>
        </mat-drawer-content>
      </mat-drawer-container>
    </ng-container>
  </ng-container>
</div>
