// Imports for Angular Material Theming
@import '~@angular/material/theming';
@import 'component-themes';

@include mat-core();

// Light theme
$light-primary: mat-palette($mat-indigo);
$light-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-theme:   mat-light-theme($light-primary, $light-accent);

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($light-theme);
@include component-themes($light-theme);

.infinitd-dark-theme {
  // Only change the colors otherwise styles get messed up.
  @include angular-material-color($dark-theme);
  @include component-themes($dark-theme);
}