// Imports for Angular Material Theming
@import '~@angular/material/theming';

@include mat-core();

@mixin themeToCustomProperties($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);

  :root {
    --primary-color: #{mat-color($primary)};
    --primary-color-lighter: #{mat-color($primary, lighter)};
    --primary-color-lighter-contrast: #{mat-color($primary, lighter-contrast)};

    --accent-color: #{mat-color($accent)};
    --accent-color-lighter: #{mat-color($accent, lighter)};
    --accent-color-lighter-contrast: #{mat-color($accent, lighter-contrast)};

    --background-color: #{mat-color($background, card)};
  }
}

// Light theme
$light-primary: mat-palette($mat-indigo);
$light-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-theme:   mat-light-theme($light-primary, $light-accent);

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($light-theme);
@include themeToCustomProperties($light-theme);

.infinitd-dark-theme {
  // Only change the colors otherwise styles get messed up.
  @include angular-material-color($dark-theme);
  @include themeToCustomProperties($dark-theme);
}