<div *ngIf="backend.getLoggedInUser() | async as lUser; else showLogin">
  <div *ngIf="lUser.user; else showRegister">
    <h1>Hello {{ lUser.user.name }}!</h1>
    <br />
  </div>
  <ng-template #showRegister>
    Please choose a display name:
    <input type="text" id="desiredName" name="desireName" [formControl]="desiredName">
    <p>
    <button mat-stroked-button (click)="setName(lUser)" [disabled]="desiredName.invalid || desiredName.pristine">
      Set Name
    </button></p>
    <div *ngIf="desiredName.invalid && (desiredName.dirty || desiredName.touched)"
      class="alert alert-danger">
      <div *ngIf="desiredName.errors && desiredName.errors.minlength">
        Your display name must be at least 2 characters long.
      </div>
    </div>
    <div class="alert alert-danger">
      {{registrationErrorMsg}}
    </div>
  </ng-template>
  <button mat-stroked-button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button mat-stroked-button (click)="googleLogin()">Login with Google</button>
</ng-template>
