<mat-toolbar color="primary">
  <span>InfiniTD</span>
</mat-toolbar>
<nav mat-tab-nav-bar *ngIf="path$ | async as path">
  <a mat-tab-link
    [routerLink]="'/leaderboard'"
    [active]="'/leaderboard' == path">
    Leaderboard
  </a>
  <a mat-tab-link
    [routerLink]="'/about'"
    [active]="'/about' == path">
    About
  </a>
  <a mat-tab-link *ngIf="backend.getRegisteredUser() | async as user"
    [routerLink]="'/battleground/' + encodeURIComponent(user.name)"
    [active]="'/battleground/' + encodeURIComponent(user.name) == path">
    My Battleground
  </a>
  <a mat-tab-link *ngIf="(backend.getRegisteredUser() | async)?.admin"
    [routerLink]="'/admin/'"
    [active]="'/admin/' == path">
    Admin
  </a>
  <span class="spacer"></span>
  <a mat-tab-link
    [routerLink]="'/account'"
    [active]="'/account' == path">
    <ng-container *ngIf="backend.getRegisteredUser() | async as user; else noUser">
      {{ user.name }}
    </ng-container>
    <ng-template #noUser>Login</ng-template>
  </a>
  <a mat-tab-link
    [routerLink]="'/settings'"
    [active]="'/settings' == path"
    [ngStyle]="{'min-width': 'fit-content', 'padding': '0 10px'}">
    ⚙
  </a>
</nav>
