<mat-toolbar color="primary">
  <span>InfiniTD</span>
</mat-toolbar>
<nav mat-tab-nav-bar>
  <a mat-tab-link
    [routerLink]="'/leaderboard'"
    [active]="'/leaderboard' == location.path()">
    Leaderboard
  </a>
  <a mat-tab-link *ngIf="backend.getRegisteredUser() | async as user"
    [routerLink]="'/battleground/' + user.name"
    [active]="'/battleground/' + user.name == location.path()">
    My Battleground
  </a>
  <a mat-tab-link
    [routerLink]="'/account'"
    [active]="'/account' == location.path()">
    <span *ngIf="backend.getRegisteredUser() | async as user; else noUser">
      {{ user.name }}
    </span>
    <ng-template #noUser>Login</ng-template>
  </a>
</nav>
